<!DOCTYPE html>
<html>
    <head>
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
        <link rel="stylesheet" type="text/css" href="css/index.css">
        <link rel="stylesheet" type="text/css" href="css/semantic.css">
        <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
        <title>Sms App</title>
        <style>
            .hov:hover{
                background: #EEE;
            }
            body{
            	background: #FFAFBD;  /* fallback for old browsers */
            	background: -webkit-linear-gradient(to right, #ffc3a0, #FFAFBD);  /* Chrome 10-25, Safari 5.1-6 */
            	background: linear-gradient(to right, #ffc3a0, #FFAFBD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

            }
        </style>
    </head>
    <body>
        <div class="app" id="app">
            <div class="ui segment button container red" v-if="smthingSelected" @click.stop="cancel">Back</div>
            <!-- titles list -->
            <div class="ui raised container segments" v-if="!smthingSelected" >
				<div v-if="!smthingSelected" class="ui center aligned segment">
		            <h1>SMS APP</h1>
				</div>
            	<div class="ui padded center aligned inverted green segment">
            		<h3><i class="fa fa-birthday-cake" aria-hidden="true"></i> Next Birthday</h3>
            		<div class="ui segment">{{nextBirthdayUser.name}}</div>
            		<p><i class="fa fa-calendar" aria-hidden="true"></i> {{nextBirthdayUser.dob.toString().split(" ")[1]+" "+nextBirthdayUser.dob.toString().split(" ")[2]}}</p>
            		<p><i class="fa fa-home" aria-hidden="true"></i> {{jsonData[nextBirthdayUser.titleIndex].title}}</p>
                    <p>Total upcoming birthdays - {{usersLength}}</p>
            	</div>
                <div class="ui padded segment hov" @click.stop="titleClicked(index)" v-for="data,index in jsonData">
                    {{data.title}}
                </div>
                <div class="ui padded segment hov" @click.stop="editsmsClicked">
                	<div class="ui fluid yellow button"><i class="fa fa-pencil" aria-hidden="true"></i> Edit Birthday Message</div>
                </div>
            </div>
            <!-- end of titles list -->
            <!-- users list -->
            <div class="ui container" v-if="titleSelected">
                <div class="ui segments" >
		           	<div class="ui segment"><h2>{{jsonData[titleIndex].title}}</h2></div>
		            <div class="ui segment button blue fluid" @click.stop="addNewUserClicked">Add New User</div>
                    <div class="ui segment" v-for="user,index in jsonData[titleIndex].users">
                        <p>{{user.name}}</p>
                        <p v-if="user.number">{{user.number}}</p>
                        <p v-if="user.dob">{{user.dob}}</p>
                        <div class="ui button" @click.stop="editUserClicked(index)">Edit</div>
                        <div class="ui button" @click.stop="deleteUser(index)">Delete</div>
                    </div>
                </div>
            </div>
            <!-- end of users list -->
            <!-- new User form -->
            <form v-if="newUserFormSelected" @submit.prevent="addNewUser" class="ui form container">
                <div class="field">
                    <input type="text" id="newName"  required placeholder="Full Name">
                </div>
                <div class="field">
                    <input type="tel" id="newNumber" required placeholder="Mobile Number">
                </div>
                <div class="field">
                    <input type="date" id="newDob" required>
                </div>
                <button class="ui button blue fluid">Add User</button>
            </form>
            <!-- end of New User Form -->
            <!-- Edit user form -->
            <form v-if="editUserFormSelected" @submit.prevent="editUser" class="ui form container">
                <div class="field">
                    <input type="text" id="editName" required placeholder="Full Name">
                </div>
                <div class="field">
                    <input type="tel" id="editNumber" required placeholder="Mobile Number">
                </div>
                <div class="field">
                    <input type="date" id="editDob" required>
                </div>
                <button class="ui button blue fluid" >Edit User</button>
            </form>
            <!-- Edit user form end -->
            <!-- SMS form starts -->
            <form v-if="smsFormSelected" @submit.prevent="cancel" class="ui form container">
                <div class="field">
                    <textarea rows="20" cols="50" v-model="message"></textarea>
                </div>
            </form>
            <!-- SMS form ends -->
        </div>
        <script type="text/javascript" src="js/vue.js"></script>
        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
    </body>
</html>
